#GM_config .config_header {
      font-size: 15pt;
      color: #FFF;
      text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
      margin: 0 0 0 0px;
}
#GM_config .config_var {
      margin: 0 0 4 10px;
}
input[type="checkbox"] {
      margin: 3px 3px 3px 0px;
}
html {
      background: #BBB;
      opacity: 0.9
}
#GM_config {
      background: #444444;
}
#GM_config .section_header {
      background: #2284B5;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      cursor: pointer;
}
#GM_config .section_header:hover {
      background: #196F9A;
      transition: background-color 0.2s ease-in-out;
      -webkit-transition: background-color 0.2s ease-in-out;
      -moz-transition: background-color 0.2s ease-in-out;
}
#GM_config .section_desc {
      cursor: pointer;
}
#GM_config .section_desc:hover {
      background: #C9C9C9;
      transition: background-color 0.2s ease-in-out;
      -webkit-transition: background-color 0.2s ease-in-out;
      -moz-transition: background-color 0.2s ease-in-out;
}
#GM_config .field_label {
      color: #FFF;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#GM_config .reset {
      color: #FFF;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      padding-right: 12px;
}
#GM_config .radio_label {
      font-size: 12px;
      color: #FFF;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
