/* Thank you Catmosphere */
#GM_config .config_header {
  font-size: 15pt;
  color: #333;
  margin: 0 0 0 0px;
}
#GM_config .config_var {
  margin: 0 0 4 10px;
}
input[type="checkbox"] {
  margin: 3px 3px 3px 0px;
}
html {
  background: #BBB;
  opacity: 0.9
}
#GM_config {
  background: #CED0D2;
}
#GM_config .section_header {
  background: #5D5D5D;
  cursor: pointer;
  padding: 5px;
}
#GM_config .section_header:hover {
  background: #666;
  transition: background-color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out;
}
#GM_config .section_desc {
  cursor: pointer;
  padding: 5px;
}
#GM_config .section_desc:hover {
  background: #fff;
  transition: background-color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out;
}
#GM_config .field_label {
  color: #333;
}
#GM_config .reset {
  color: #333;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857;
}
#GM_config .radio_label {
  font-size: 12px;
  color: #FFF;
}
#GM_config .saveclose_buttons {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -moz-user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
#GM_config_saveBtn {
  color: #FFF;
  background-color: #5CB85C;
  border-color: #4CAE4C;
}
#GM_config_closeBtn {
  color: #FFF;
  background-color: #C9302C;
  border-color: #AC2925;
}
#GM_config_closeBtn {
  color: #FFF;
  background-color: #C9302C;
  border-color: #AC2925;
}
#GM_config_save_closeBtn {
  color: #FFF;
  background-color: #286090;
  border-color: #204D74;
}
