#tabs_chat_settings_content .btn {
  margin-right: 4px;
}

#log_btn {
  margin-left: -4px;
}

#tabs_chat_settings_content {
  overflow-y: auto;
}

.instasync_settings_field {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  margin-bottom: -10px;
  margin-top: 10px;
  font-weight: bold;
}

.instasync_settings_text {
  position: relative;
  display: block;
  min-height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.instasync_settings_text+.checkbox,
.checkbox+.instasync_settings_text {
  margin-top: -5px;
}

.instasync_settings_text label {
  margin-bottom: 0;
  font-weight: 400;
}

/* taken from the v4c script made by biggles */
.instasync_settings_text label input {
  border-radius: 4px;
  border: 1px solid #bbb;
  padding: 0 2px;
  margin-right: 4px;
}
